<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/bulma.min.css">
  <style>
    html {
      background-color: #f8f8f8;
      padding: .8em;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="tab-pane fade" id="trajectory-batch-tab">
      <div id="trajectory-batch" ondrop="drop(event)" ondragover="allowDrop(event)"
        style="height: 260px; background-color: darkseagreen;">
        <p style="margin-left:4px">将excel文件拖放到绿色区域开始解析</p>
        <p style="margin:1em 0 0 4px">excel至少包含列(内容,数据方向)</p>
        <p style="margin:1em 0 0 4px">只解析17 18 上来的位置信息</p>
      </div>
      <p style="margin-top: 1em;" class="trajectory-batch-rate">解析开始, 进度:</p>
      <progress class="progress is-primary" :value="rate" max="100"></progress>
      <p style="margin-top: 1em;">{{result}}</p>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th v-for="item in listHeader">{{item}}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th v-for="item in listHeader">{{item}}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr v-for="(val,key) in list">
            <td v-for="(val2,key2) in val">
              <div v-if="val2.length<=20">{{val2}}</div>
              <div v-else :title="val2">{{val2.slice(0,7)+'...'}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<script src="../../static/vue.min.js"></script>

<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  const zl_gprs_13 = require('./zl-gprs-13')

  let app = new Vue({
    el: '#app',
    data: {
      result: '',
      listHeader: [],
      list: {},
      rate: 0,
      loading: false
    },
    methods: {
      trajectory_btn_click: async function () {
      }
    }
  })

  console.log(app)

  const iexcel = require('../../js/tool/excelHelper')

  //批量解析
  document.getElementById('trajectory-batch').ondrop = drop
  function drop(ev) {
    document.getElementById('trajectory-batch').ondrop = (ev) => { ev.preventDefault(); }
    ev.preventDefault();
    var fileObj = ev.dataTransfer.files[0];
    console.log(fileObj)

    decodeOriginTraceDataFromXlsx(fileObj.path)
  }

  async function decodeOriginTraceDataFromXlsx(readFileName) {
    let allRecord = iexcel.getJsonObjByExcel(readFileName)
    if (!allRecord) {
      g
      document.getElementById('trajectory-batch').ondrop = drop
      return alert('未读取到数据, 请检测文件格式/内容!')
    }
    let toBeDecode = allRecord
      .filter(m => {
        return (/^5A4C(17|18)/.test(m['内容']) && m['数据方向'] == 'GPRS上行')
      })
      .map(m => {
        m['终端位置时间'] = ''
        m['导航'] = ''
        m['经度'] = ''
        m['纬度'] = ''
        m['详细地址'] = ''
        return m
      })
    console.log(allRecord)
    console.log(toBeDecode)
    console.log('待解析记录数:' + toBeDecode.length)
    if (toBeDecode.length <= 0) {
      document.getElementById('trajectory-batch').ondrop = drop
      return alert('未读取到数据, 请检测文件格式/内容!')
    }

    for (var i = 0; i < toBeDecode.length; i++) {
      let result = await zl_gprs_13.decode(toBeDecode[i]['内容'])
      console.log(result)
      if (result) {
        toBeDecode[i]['终端位置时间'] = result.data['位置信息']['终端位置时间']
        toBeDecode[i]['导航'] = result.data['状态1']['bit(7) 导航']
        toBeDecode[i]['经度'] = result.data['位置信息']['经度']
        toBeDecode[i]['纬度'] = result.data['位置信息']['纬度']
        toBeDecode[i]['详细地址'] = result.data['位置信息']['详细地址']
      }
      console.log(toBeDecode[i])
      app.rate = ((i + 1) / toBeDecode.length).toFixed(2) * 100
    }

    //保存文件名
    let excelNameArr = readFileName.split('.')
    excelNameArr[excelNameArr.length - 1] = 'xlsx'
    excelNameArr[excelNameArr.length - 2] += '_解析结果'
    let savePath = excelNameArr.join('.')
    console.log(toBeDecode)

    app.listHeader = Object.keys(toBeDecode[0])
    app.list = toBeDecode

    iexcel.saveJsonAsExcel(toBeDecode, savePath)

    app.result = '解析完成, 文件保存位置:' + savePath

    document.getElementById('trajectory-batch').ondrop = drop
  }

</script>

</html>